@charset "utf-8";
/* CSS Document */
body{font-size:13px}

input[type=button]{width:60px}

div{overflow:hidden}

/* 큰 영역 부터 설정 합니다. */
#stock_wrap{position:absolute;display:none;background:#FFC}

#stock_wrap table {padding:3px}

#main_wrap{width:860px}

#beverage_wrap{float:left;width:610px}

#beverage_wrap input[type=button],#beverage_wrap img{margin:3px}

#manage_wrap{float:left;width:250px}

#manage_wrap div{height:200px;border-width:1px;border-style:dotted}

#calc_wrap{border-color:red}

#calc_wrap table{width:245px;margin-top:30px;text-align:center}

#calc_wrap input[type=button]{margin:5px}

#message_wrap{border-color:green;line-height:200px;text-align:center}

#message_wrap span{font-weight:bold}

#profile_wrap{border-color:blue}

#profile_wrap table{width:245px;margin-top:20px;padding:0}

#profile_wrap th{height:50px;background-color:#6CF}

#profile_wrap td{background-color:#6FC}